.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
*.py[cod]
*.so

build/
dist/
*.egg-info/
.eggs/
.coverage
coverage.xml

.pytest_cache/
_build/

.idea/

.venv/
venv/
htmlcov/

# vscode
.vscode
